{{ define "main" }}

<section class="hero" id="hero">
    {{ $hero := resources.Get "/assets/imgs/hero.webp" }}
    <img src="{{ $hero.RelPermalink }}" alt="Hero Image" class="hero-image" loading="lazy">
</section>

<section class="posts" id="posts">

    <h2 class="h2-home"><a href="/posts">~ {{ index $.Site.Data.l10n "latest_posts" }}</a></h2>

    <div class="posts-list">
        {{ $posts_pages := where site.RegularPages "Type" "posts" }}
        {{ range first 5 $posts_pages }}
        <div class="posts-item">
            <div class="posts-date">{{ .Date | dateFormat "2006-01-02" }}</div>
            <div class="posts-title">
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ $summary := .Content | plainify | truncate 200 "..." }}
                <p>{{ $summary }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</section>

<section class="works" id="works">
    <h2 class="h2-home"><a href="#works">~ {{ index $.Site.Data.l10n "works" }}</a></h2>
    <div class="works-list">
        {{ range .Site.Data.works.works }}
        <div class="works-item">
            <div class="works-title">
                <a href="{{ .url }}" target="_blank" rel="noopener">{{ .name }}</a>
                <p class="works-desc">{{ .desc }}</p>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{ end }}